// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: ##222222;
// $green: #293F14;
// $light-brown: #9F7E69;
// $purple: #684A52;

$WENGE-green:#293F14;
$WENGE-purple:#9F7E69;
$BEAVER:#6B654B;
$BLACK-LEATHER-JACKET:#748E54;
