<div id="home">
  <div class="welcome">
    <h1>Rent a sheep !</h1>
    <p>Welcome !</p>
  </div>

  <div class="title">
    <h2><%= link_to "Check all our available Sheeps  !", sheeps_path  %></h2>
  </div>
</div>
