<h1>All sheeps</h1>
<div>
  <% if policy(Sheep).create? %>
    <h5><%= link_to "Put my sheep on rent", new_sheep_path%></h5>
  <% end %>
</div>

<div>
  <% @sheeps.each do |sheep| %>
    <div>
      <%= link_to sheep.nickname, sheep_path(sheep) %>
        <span>
          <% if policy(sheep).destroy? %>
            <%= link_to sheep_path(sheep),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
              <i class="las la-trash-alt"></i>
            <% end %>
          <% end %>
        </span>
        <div>
          <%if sheep.photo.attached?%>
            <%= cl_image_tag sheep.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>





